script.
	map.data.setMap(null);
	
	var UserLocation;
	var UserLocationArr = [0,0];
	function placeMarker(location) {
		if ( UserLocation ) {
			UserLocation.setPosition(location);
			UserLocationArr[0] = location.lng();
			UserLocationArr[1] = location.lat();
			$("#formlatlon").val(UserLocationArr)
		} else {
			UserLocation = new google.maps.Marker({
			position: location,
			map: map,
			draggable: true
		});
		
		UserLocationArr[0] = location.lng();
		UserLocationArr[1] = location.lat();
		$("#formlatlon").val(UserLocationArr)

		UserLocation.addListener('dragend', function(event) {
			UserLocationArr[0] = UserLocation.getPosition().lng();
			UserLocationArr[1] = UserLocation.getPosition().lat();
			$("#formlatlon").val(UserLocationArr)
		});
		}
	}

	addMarkerListener = map.addListener('click', function(event) {
		placeMarker(event.latLng);
	});

script.
	$( document ).ready(function() {		
		$('#editUserButton').click(function(){
			console.log('clicked')
			$.post('/edituser', {
			latlon: $('#formlatlon').val(),
			userID: $('#userID').val(),
			userName: $('#userName').val(),
			userPassword: $('#userPassword').val(),
			userEmail: $('#userEmail').val(),
			userFirstName: $('#userFirstName').val(),
			userLastName: $('#userLastName').val()
			}).done(function(){
				google.maps.event.removeListener(addMarkerListener);
				window.map.data.loadGeoJson('/skatespots.json')
				window.map.data.setMap(map);
				$('#content').html('Succesfully updated user details!')
			})
		})
	});

div(id="edituserform")
	h2 Modify User
	input(type="hidden" id="userID" value=usertoedit.id)
	input(type="text" id="formlatlon" name="latlon" value=usertoedit.location)
	br
	input(type="text" id="userName" value=usertoedit.username)
	br
	input(type="password" id="userPassword" value=usertoedit.password)
	br
	input(type="text" id="userEmail" value=usertoedit.email)
	br
	input(type="text" id="userFirstName" value=usertoedit.firstname)
	br
	input(type="text" id="userLastName" value=usertoedit.lastname)
	br
	button(type ="submit" id="editUserButton") Edit user