script.
	$( document ).ready(function() {		
		$('#editUserButton').click(function(){
			$.post('/edituser', {
			userID: $('#userID').val(),
			userName: $('#userName').val(),
			userPassword: $('#userPassword').val(),
			userEmail: $('#userEmail').val(),
			userFirstName: $('#userFirstName').val(),
			userLastName: $('#userLastName').val()
			}).done(function(){
				google.maps.event.removeListener(addMarkerListener);
				window.map.data.loadGeoJson('/skatespots.json')
				window.map.data.setMap(map);
				$('#content').html('Succesfully updated user details!')
			})
		})

		$("#logout").click(function(event) {
			event.preventDefault();
			$.post('/logout').done(function() {
				$('#userdetails').load('/userdetails')
				$('#content').html('<p>Successfully logged out!</p>')
			})
		});

		$("#showeditform").click(function(event) {
			event.preventDefault();
			$("#edituserform").show()
		});
	});

div(id="logoutform")
	a(href="#" id="logout")
		span Logout
	span(class="separator")
	a(href="#" id="showeditform")
		span Edit User

div(id="edituserform" hidden)
	h2 Modify your settings below
	input(type="hidden" id="userID" value=usertoedit.id)
	input(type="text" id="userName" value=usertoedit.username)
	br
	input(type="text" id="userEmail" value=usertoedit.email)
	br
	input(type="text" id="userFirstName" value=usertoedit.firstname)
	br
	input(type="text" id="userLastName" value=usertoedit.lastname)
	br
	button(type ="submit" id="editUserButton") Edit user