doctype html
html
	head
		link(rel='stylesheet' href='/css/style.css')
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
	body
		#map
			script.
				$( document ).ready(function() {
				console.log( "ready!" );
				})

			script(type='text/javascript').
				var map;
				
				function initMap() {
				
				map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 52.4, lng: 4.92},
				zoom: 12
				});
				
				var UserLocation;
				var UserLocationArr = [0,0];
				function placeMarker(location) {
					if ( UserLocation ) {
						UserLocation.setPosition(location);
						UserLocationArr[0] = location.lng();
						UserLocationArr[1] = location.lat();
						$("#formlatlon").val(UserLocationArr)
					} else {
						UserLocation = new google.maps.Marker({
							position: location,
							map: map,
							draggable: true
						});
						UserLocationArr[0] = location.lng();
						UserLocationArr[1] = location.lat();
						$("#formlatlon").val(UserLocationArr)

						UserLocation.addListener('dragend', function(event) {
							UserLocationArr[0] = UserLocation.getPosition().lng();
							UserLocationArr[1] = UserLocation.getPosition().lat();
							console.log(UserLocationArr);
							$("#formlatlon").val(UserLocationArr)
				});
					}
				}

				map.addListener('click', function(event) {
					placeMarker(event.latLng);
				});
				}

			script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDmSbvLztiTx63qBwEO3JIzGZWWMmIYTh0&callback=initMap')
		#rightbar
			#header
				h1 Welcome
			#test
			div(id="editspotform")
				h2 Edit spot
				form(name="addSpot" action="/editspot" method="post")
					input(type="hidden" name="spotID" value=spottoedit.id)
					input(type="text" id="formlatlon" name="latlon" value=spottoedit.location)
					br
					input(type="text" name="spotName" value=spottoedit.name)
					br
					input(type="text" name="spotType" value=spottoedit.type)
					br
					input(type="text" name="spotDescription" value=spottoedit.description)
					br
					input(type="text" name="spotPhoto" value=spottoedit.photo)
					br
					input(type="text" name="videoLink" value=spottoedit.videolink[0])
					br
					input(type="text" name="videoTime" value=spottoedit.videolink[1])
					br
					button(type="submit" id="editSpot") Add Spot