script.
	$( document ).ready(function() {		
		$('#editUserButton').click(function(){
			console.log('clicked')
			$.post('/edituser', {
			userID: $('#userID').val(),
			userName: $('#userName').val(),
			userPassword: $('#userPassword').val(),
			userEmail: $('#userEmail').val(),
			userFirstName: $('#userFirstName').val(),
			userLastName: $('#userLastName').val()
			}).done(function(){
				google.maps.event.removeListener(addMarkerListener);
				window.map.data.loadGeoJson('/skatespots.json')
				window.map.data.setMap(map);
				$('#content').html('Succesfully updated user details!')
			})
		})
	});

div(id="edituserform")
	h2 Modify User
	input(type="hidden" id="userID" value=usertoedit.id)
	input(type="text" id="userName" value=usertoedit.username)
	br
	input(type="text" id="userEmail" value=usertoedit.email)
	br
	input(type="text" id="userFirstName" value=usertoedit.firstname)
	br
	input(type="text" id="userLastName" value=usertoedit.lastname)
	br
	button(type ="submit" id="editUserButton") Edit user