script.
	$( document ).ready(function() {
		window.map.setCenter(new google.maps.LatLng(#{location[1]},#{location[0]}))
		window.map.setZoom(15)

		if($('#coverdiv').parent().attr('id') === 'searchresults'){
			$('#searchresults').append('<a id="backtosearch" href="#">Back to search</a>')
		}

		$('#backtosearch').click(function(event){
			event.preventDefault();
			$("#content").load("/search/?searchTerm="+$("#searchTerm").val())
		})

		$('#editspot').click(function(){
			$('#content').load('/editspot/#{spotid}')
		})

		$('#removespot').click(function(){
			$.post('/deletespot/#{spotid}').done(function(){
				window.map.data.forEach(function(feature) {
					window.map.data.remove(feature);
				})

				window.map.data.loadGeoJson('/skatespots.json')
				
				window.map.data.setMap(map)

				$('#content').html('<p>Spot removed!</p>')
			})
		})
		
		$('#spotphoto').click(function(){
			$("#viewport").attr("content", "width=device-width, height=device-height, initial-scale=1, user-scalable=1");
			$("#photocontainer").fadeIn(500);
			$("#coverdiv").fadeIn(500); 
		})

		$('#coverdiv').click(function(){
			$("#viewport").attr("content", "width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0");
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})

		$('#bigphoto').click(function(){
			$("#viewport").attr("content", "width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0");
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})

	});

#coverdiv

div(id="photocontainer")
	img(id="bigphoto" src=photo)

div(id="spotname")= name
div(id="spotdetails")
	div(id="spottype")= type
	img(id="spotphoto" src=photo)
	div(id="spotdescription")= description
	if videolink != ""
		div(id="videoinfo") You can see this spot at #{videotime} in #[a(href=videolink target="blank") this video]
		
	if userid === author || userid === 1
		#spoteditbuttons
			div(id="editspotlink")
				button(id="editspot") Edit Spot
			div(id="removespotlink")
				button(id="removespot") Remove Spot