script.
	$( document ).ready(function() {		
		$('#editspot').click(function(){
			$('#content').load('/editspot/#{spotid}')
		})
		
		$('#spotphoto').click(function(){
			$("#photocontainer").fadeIn(500);
			$("#coverdiv").fadeIn(500); 
		})

		$('#coverdiv').click(function(){
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})

		$('#bigphoto').click(function(){
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})
	});

#coverdiv

div(id="photocontainer")
	img(id="bigphoto" src=photo)

div(id="spotdetails")
	div(id="spotname")= name
	div(id="spottype")= type
	img(id="spotphoto" src=photo)
	div(id="spotdescription")= description
if videolink != ""
	div(id="videoinfo") You can see this spot at #{videotime} in #[a(href=videolink target="blank") this video]
		
if userid === author
	div(id="editspotlink")
		button(id="editspot") Edit Spot