script.
	$( document ).ready(function() {		
		$('#editspot').click(function(){
			$('#content').load('/editspot/#{spotid}')
		})

		$('#removespot').click(function(){
			$.post('/deletespot/#{spotid}').done(function(){
				window.map.data.forEach(function(feature) {
					window.map.data.remove(feature);
				})

				window.map.data.loadGeoJson('/skatespots.json')
				
				window.map.data.setMap(map)

				$('#content').html('<p>Spot removed!</p>')
			})
		})
		
		$('#spotphoto').click(function(){
			$("#photocontainer").fadeIn(500);
			$("#coverdiv").fadeIn(500); 
		})

		$('#coverdiv').click(function(){
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})

		$('#bigphoto').click(function(){
			$("#photocontainer").fadeOut(500);
			$("#coverdiv").fadeOut(500); 
		})

	});

#coverdiv

div(id="photocontainer")
	img(id="bigphoto" src=photo)

div(id="spotname")= name
div(id="spotdetails")
	div(id="spottype")= type
	img(id="spotphoto" src=photo)
	div(id="spotdescription")= description
	if videolink != ""
		div(id="videoinfo") You can see this spot at #{videotime} in #[a(href=videolink target="blank") this video]
		
	if userid === author
		div(id="editspotlink")
			button(id="editspot") Edit Spot
		div(id="removespotlink")
			button(id="removespot") Remove Spot